html, body, #root {
    height: 100%;
}

.interface {
    margin: auto;
    width: 1024px;
    padding-top: 40px;
}

.interface-container {
    height: 100%;
}

.player-type-1 {
    background-color: lightblue;
}

.player-type-2 {
    background-color: lightcoral;
}

.player-type-3 {
    background-color: lightgrey;
}

.game-views-conatainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.turret-control-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}